<!-- <div class="container-fluid bg-dark">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div> -->

  <!-- <p>
    <mat-toolbar color="primary">
      <span>My Application</span>
    </mat-toolbar>
  </p>
   -->
  
   <app-toolbaar></app-toolbaar>

<div>
    <a routerLink="/about-us">About us</a>
    <a routerLink="/how-it-works">How it works</a>
    <a routerLink="/auth/login" [queryParams]="{name:'yogender123',email:'imyogie@gmail.com'}">Login</a>
    <a routerLink="/public/all-book">All books</a>

    <a [routerLink]="['/public/book-details', '10', 'author','20']">Details from App</a>

</div>

<router-outlet></router-outlet>

